


header,section,li {
    background-color: #d6ccc2;
	border:5px #9d8189 solid; 
	padding: 20px 20px;
}

h1 {
	color:blue;
}

h2 {
	color:blue;
	font-size:28px;
}
header a:hover {
	color:white;
	text-decoration: underline;
}

header,section, main,footer{
	background-color:#d6ccc2;
}